<header>
  <!-- Fixed Navbar -->
  <nav class="navbar">
    <a href="#" class="navbar-brand">
      <img src="https://sidp919.github.io/ToDoList-AngularApp/assets/images/todo_list_icon.png" width="30" height="30" alt="ToDoList icon" class="navbar-icon">
      <p class="navbar-title">{{title}}</p>
    </a>
  </nav>
</header>
<main class="main-content p-1">
  <section class="content-section">
    <div class="content-container">
      <app-to-do-list></app-to-do-list>
    </div>
  </section>
</main>
<footer class="footer">
  <p class="footer-text">© 2024 ToDo List App. All rights reserved.</p>
</footer>